; To configure BeautifulJava, identify the section for your operating system and
; remove the leading ";" character for lines starting with INTELLIJ and ZOMBOID.
; Please ensure both paths are correct. For more information, visit this link:
; https://github.com/quarantin/beautiful-java/#readme

; Linux
;INTELLIJ=~/IntelliJ/
;ZOMBOID=~/.steam/steam/steamapps/common/ProjectZomboid/

; MacOSX
;INTELLIJ=/Applications/IntelliJ IDEA CE.app/
;ZOMBOID=~/Library/Application Support/Steam/steamapps/common/ProjectZomboid/

; Windows
;INTELLIJ=C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2021.2.3\
;ZOMBOID=C:\Program Files (x86)\Steam\steamapps\common\ProjectZomboid\
