{
	"intellij": "/Applications/IntelliJ IDEA CE.app/Contents/bin/format.sh",
	"zomboid": "~/Library/Application Support/Steam/steamapps/common/ProjectZomboid/Project Zomboid.app/Contents/Java/pzexe.jar"
}
